<main class="home-container slideInUp">
    <div>
        <h2><span class="hover-this" data-item="1">Tele2</span></h2>
        <div class="element">
            <video src="assets/video/hover/Md_Hover_1x.mp4" autoplay muted loop="true"></video>
        </div>
    </div>
    <div>
        <h2><span class="hover-this" data-item="0">Modular</span></h2>
        <div class="element">
            <video src="assets/video/hover/Tl_Hover_1x.mp4" loop="true" autoplay muted></video>
        </div>
    </div>
    <div>
        <h2><span class="hover-this" data-item="2">Concepts'18</span></h2>
        <div class="element">
            <video src="assets/video/hover/Cnc_Hover_1x.mp4" loop="true" autoplay muted></video>
        </div>
    </div>
    <div>
        <h2><span class="hover-this" data-item="3"> Kish </span></h2>
        <div class="element">
            <video src="assets/video/hover/Ks_Hover_1x.mp4" loop="true" autoplay muted></video>
        </div>
    </div>
    <div>
        <h2><span class="hover-this" data-item="4"> Quick slim</span></h2>
        <div class="element">
            <video src="assets/video/hover/QS_Hover_1x.mp4" loop="true" autoplay muted></video>
        </div>
    </div>
    <div>
        <h2><span class="hover-this" data-item="5">Concepts'17</span></h2>
        <div class="element">
            <video src="assets/video/hover/Cp_Hover_1x.mp4" loop="true" autoplay muted></video>
        </div>
    </div>
    <div>
        <h2><span class="hover-this" data-item="6"> Pop tube</span></h2>
        <div class="element">
            <video src="assets/video/hover/Pt_Hover_1x.mp4" loop="true" autoplay muted></video>
        </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
            <filter id="glitch">

                <feTurbulence baseFrequency="0.06,0.036" numOctaves="1" seed="0" type="fractalNoise" x="0%"
                    y="0%" />

                <feColorMatrix in="warp" result="huedturb" type="hueRotate" values="90">
                    <animate attributeType="XML" attributeName="values" values="0;180;360" dur="2s"
                        repeatCount="indefinite" />
                </feColorMatrix>

                <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="30" in="SourceGraphic"
                    in2="huedturb" x="0%" y="0%" />

            </filter>
        </defs>
    </svg>

</main>
