.about-container {
    padding: 20px;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
}
.about-image {
    margin-bottom: 45px;
    height: 750px;
    position: relative;
    transition: all 0.3s ease;

    @media (max-width: 1440px ) {
        height: 567px;
    }
    @media (max-width: 1024px ) {
        height: 400px;
    }
    @media (max-width: 768px ) {
        height: 360px;
    }
    @media (max-width: 640px) {
        height: 148px;
    }
    img {
       position: absolute;
       top: 0;
       left: 19%;
       width: 81%;
       height: 100%;
       object-fit: contain;
       pointer-events: none;
       z-index: 0;
       @media (max-width: 768px ) {
        left: 0;
        width: 100%;
    }
    }

}
.about-text {
    margin-bottom: 120px;
    width: 81%;
    position: relative;
    z-index: 2;
    @media (max-width: 1024px) {
        width: 100%;
    }
    
    &-space {
        width: 19%;
        display: inline-block;
    }

    p, h2 {
        margin: 0;
        font-family: Akzidenz-Grotesk Pro;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
    }
    &_links {
        p {
            margin-bottom: 50px;
        }
    }
}