@font-face {
  font-family: "Akzidenz-Grotesk Pro";
  src: url(../assets/font/AkzidenzGroteskPro-Ext.woff);
}
.about-container {
    padding: 0 20px;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
}

.about-text {
    margin-bottom: 120px;
    width: 81%;
    position: relative;
    z-index: 2;
    color: white;
    mix-blend-mode: difference;

    @media (max-width: 1024px) {
        width: 100%;
    }
    
    &-space {
        width: 18vw;
        display: inline-block;
    }

    p, h2 {
        margin: 0;
        padding-bottom: 10px;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
        color: inherit;
        transition: all 0.5s ease-in-out;

        @media (max-width: 540px) {
          font-size: 26px;
          line-height: 100%;
        }
    }
    &_links {
        p {
            margin-bottom: 50px;
        }
    }
}

.wrapper {
  height: 100vh;
  width: calc(100vw - 20px);
  overflow-x: hidden;
  perspective: 2px;
  background-color: white;
}
.section { 
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;

  .about-info {
    padding-top: 47%;
    background-color: inherit !important;
    @media (max-width: 1500px) {
      padding-top: 51%;
    }
    @media (max-width: 1000px) {
      padding-top: 54%;
    }
    @media (max-width: 768px) {
      padding-top: 66%;
    }
    @media (max-width: 660px) {
      padding-top: 72%;
    }
    @media (max-width: 480px) {
      padding-top: 78%;
    }
    @media (max-width: 350px) {
      padding-top: 84%;
    }
  }
  _::-webkit-full-page-media, _:future, :root .panel {
    background-color:inherit
 }
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 113px;
  right: 20px;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: calc(82% - 5px);
  z-index: -1;
  @media (max-width: 768px) {
    background-size: 100%;
  }
}

.bg1::after {
  background-image: url('../../build/assets/img/about.png');
  background-position: right top;
  background-repeat: no-repeat;
}