.home-container {
    padding-left: calc(18vw + 20px);
    padding-right: 20px;
    padding-top: 72px;
    box-sizing: border-box;
   // position: relative;
    @media (max-width: 425px) {
      padding-left: 20px;
    }

    h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 6.5em;
        line-height: 102%;
        display: block;
        position: relative;
        z-index: 2;
        
        @media (max-width: 1440px) {
            font-size: 5.2em;
        }
       
        @media (max-width: 1200px) {
            font-size: 3.15em;
        }

        @media (max-width: 768px) {
            font-size: 2.9em;
        }
        @media (max-width: 600px) {
            font-size: 1.5em;
        }
        @media (max-width: 425px) {
            font-size: 36;
            line-height: 140%;
        }

        span {
            position: relative;
            z-index: 1;
        }
        
    }
 }


     /*** layout ***/

     .flex-wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flexbox;
      display: -moz-flex;
      display: -o-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
  }

  #page-wrap {
      width: 100%;
      overflow: hidden;

      .list{
        position: relative;
        z-index: 16;
        color: black;
        padding-bottom: 100px;
        padding-top: 20px;
        
      }
  }

  /*** canvas ***/

  #canvas {
    position: fixed;
    top: 113px;
    right: 20px;
    max-width: 940px;
    width: 49%;
    height: 520px;
      z-index: 10;
      opacity: 0;
      transition: opacity 0.5s ease-in;
      // @media (max-width: 1750px) {
      //   height: 450px;
      // }
      @media (max-width: 768px) {
        display: none;
      }
  }

  .video-started #canvas {
      opacity: 1;
  }

  .multi-textures-wrapper {
    position: fixed;
    top: 113px;
    right: 20px;
    max-width: 940px;
    width: 49%;
    height: 45%;

    @media (max-width: 768px) {
      top: 75px;
      left: 20px;
      width: 100%;
    }
  }

  .multi-textures {
    position: fixed;
    top: 113px;
    right: 20px;
    max-width: 940px;
    width: 49%;
    height: 530px;
    cursor: pointer;
    font-size: 3em;
    color: white;

    justify-content: center;
    align-items: center;
    align-content: center;

    opacity: 0;
    transition: opacity 0.5s ease-in;

    @media (max-width: 1750px) {
      height: 450px;
    }
    @media (max-width: 1500px) {
      height: 380px;
    }
    @media (max-width: 1400px) {
      height: 340px;
    }
    @media (max-width: 1050px) {
      height: 200px;
    }
    @media (max-width: 768px) {
      top: 75px;
      left: 20px;
      width: 100%;
      height: 300px;
    }
    @media (max-width: 500px) {
      height: 250px;
    }
    @media (max-width: 320px) {
      height: 150px;
    }
  }

  .video-started .multi-textures {
      opacity: 1;
  }

  .multi-textures img, .multi-textures video {
      display: none;
      width: 100%;
  }

  #enter-site {
      color: white;
      background: #ee6557;
      max-width: 200px;
      text-align: center;
      cursor: pointer;
  }

  /*** handling errors ***/

  .no-curtains .multi-textures-wrapper {
      top: 50%;
      right: auto;
      bottom: auto;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .no-curtains #enter-site {
      background: #333;
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 18;
  }