.home-container {
    width: 100vw;
    padding-left: calc(19% + 20px);
    padding-right: 20px;
    padding-bottom: 20%;
    box-sizing: border-box;
   // background-color: #fff;

    h2 {
        font-family: Transgender Grotesk;
        font-style: normal;
        font-weight: normal;
        font-size: 170px;
        line-height: 100%;
        color: #000000;

        
    }
}


