.works-container {
  padding: 540px 20px 0;
  transition: all 0.5s;

  @media (max-width: 1440px) {
    padding-top: 500px;
  }
  @media (max-width: 1024px) {
    padding-top: 400px;
  }
  @media (max-width: 768px) {
    padding-top: 350px;
  }

  .about-text {
    margin-bottom: 45px;
  }
  .works-content {
    padding-left: calc(19% + 20px);
    
    @media (max-width: 768px) {
      padding-left: 0;
    }
    
    img {
      width: 100%;
    }
    video {
      width: 100%;
    }
  }
}
.works-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1558px;
  padding-top: 300px;
  padding-bottom: 300px;

  @media (max-width: 768px) {
    width: 100%;
  }

  .works-nav-next ,
  .works-nav-prew {
    span {
      font-family: Akzidenz-Grotesk Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 100%;
    }
  } 
  &-prew {
    span {
      padding-left: 56px;
      
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
  &-next {
    span {
      padding-right: 56px;
      
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}