.works-container {
  padding: 540px 20px 0;
  width: 100vw;
  transition: all 0.5s;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;

  @media (max-width: 1440px) {
    padding-top: 55vh;
  }
 
  .about-text {
    margin-top: 45px;
    width: 81%;
    margin-bottom: 45px;
    background-color: white;
    mix-blend-mode: normal;
    
    @media (min-width: 1921px) {
      width: 60%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    p {
      mix-blend-mode: difference;
    }
  }
  .about-text.bottom-text {
    width: 100%;
    padding-left: calc(18vw - 5px);
    box-sizing: border-box;
    @media (max-width: 768px) {
      padding-left: 0;
    }
  }
  .works-content {
    padding-left: 18vw;
    
    @media (max-width: 768px) {
      padding-left: 0;
    }
    
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    video {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
.works-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 18vw;
  padding-top: 131px;
  padding-bottom: 131px;
  margin-bottom: 45px;
  position: relative;

  @media (max-width: 768px) {
    margin-left: 0;
  }
  @media (max-width: 425px) {
    padding-top: 0px;
    padding-bottom: 90px;
    margin-bottom: 0;
  }

  .works-nav-next ,
  .works-nav-prew {
    span {
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 100%;
      color: #000000;
    }
    svg {
      path {
        fill: #000000;
      }
    }
    video {
      width: 100%;
      @media (max-width: 768px) {
        display: none;
      }
    }
  } 
  &-prew {
   
    &-video {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: calc(41vw - 20px);
      height: 100%;
      z-index: -1;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: opacity 0.5s ease-in;
    }
    &:hover .works-nav-prew-video{
      
      opacity: 1;
    }

    span {
      padding-left: 56px;

      @media (max-width: 700px) {
        display: none;
      }
    }
  }
  &-next {

    &-video {
      position: absolute;
      top: 0;
      right: 0;
      width: calc(41vw - 20px);
      height: 100%;
      z-index: -1;
      display: flex;
      align-items: center;
      opacity: 0;
      transition: opacity 0.5s ease-in;
     
    }
    &:hover .works-nav-next-video{
      
      opacity: 1;
    }
    span {
      padding-right: 56px;
      
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}